:root {
    --button-main: #38598B;
    --button-hover-main: #113F67;
    --type-main: #0B8457;
    --type-hover-main: #05422B;
    --border-main: #00204A;
    --incident-main: #35495E;
    --text-main: #38598B;

    --button-spin-off: #49388B;
    --button-hover-spin-off: #332761;
    --type-spin-off: #1F6F78;
    --type-hover-spin-off: #113D42;
    --border-spin-off: #27004A;
    --incident-spin-off: #4C355E;
    --text-spin-off: #49388B;

    --button-remake: #8B8738;
    --button-hover-remake: #615E27;
    --type-remake: #0B6A84;
    --type-hover-remake: #054241;
    --border-remake: #4A4500;
    --incident-remake: #5E5D35;
    --text-remake: #8B8738;

    --button-non-canon: #8B3838;
    --button-hover-non-canon: #612727;
    --type-non-canon: #84720B;
    --type-hover-non-canon: #423905;
    --border-non-canon: #4A0000;
    --incident-non-canon: #5E3535;
    --text-non-canon: #8B3838;
    --border-gray: #757B7A;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #222222EC;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.type-explanation {
    width: 90%;
    max-width: 1400px;
}

.explanation {
    line-height: 5vw;
    margin: 0.6vw 0;
    padding: 1.5vw 2vw 1.7vw 2vw;
    border: .5vw solid;
    border-radius: 1vw;
}

.explanation .type {
    text-align: center;
    text-wrap: nowrap;
    margin-left: -0.5vw;
    margin-right: 0.5vw;
    vertical-align: calc(0% + 0.1vw);
    display: inline-block;
}

.explanation .text {
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-block;
}

hr {
    border: .1vw solid;
    width: 100%;
}

.container-game {
    width: 90%;
    max-width: 1200px;
    margin: 0.3vw 0;
}

.collapsible {
    text-align: left;
    border: .5vw solid;
    border-radius: 1vw 1vw 0 0;
    outline: none;
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: .5vw 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.collapsible:hover::before {
    opacity: 1;
}

.collapsible::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    content: "";
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s;
}

.type {
    color: white;
    font-size: 2vw;
    line-height: 2;
    border: .3vw solid white;
    border-radius: 1.5vw;
    margin: .6vw .7vw .3vw .7vw;
    padding: .8vw .7vw .3vw .7vw;
    vertical-align: middle;
    display: inline-block;
    transition: background-color .5s ease-in-out;
}

.title {
    color: white;
    font-size: 3.3vw;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container-info {
    border: .5vw solid;
    border-top: 0;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.info {
    display: inline-block;
    width: 100%;
}

.incident {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1vw;
    border-bottom: .5vw solid;
    display: block;
}

.text {
    font-size: 2.5vw;
    margin: 0;
    padding: 1vw;
    text-align: justify;
}

.image {
    display: inline-block;
}

img {
    width: 23vw;
    height: 100%;
    border-left: .5vw solid;
    border-bottom: .5vw solid;
}

.container-image {
    display: inline-block;
}

footer {
    font-size: 1.5vw;
}

a {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a {
    color: white;
}

a:hover {
    color: var(--border-gray);
}

/* COLORS */
.content {

    .type-explanation {

        .main,
        .spin-off,
        .remake,
        .non-canon {
            transition: all .5s ease-in-out;
        }
    }

    .type-explanation .main {
        background-color: var(--button-main);
        border: .5vw solid var(--border-main);
    }

    .type-explanation .main:hover {
        background-color: var(--button-hover-main);

        .type {
            background-color: var(--type-hover-main);
        }
    }

    .type-explanation .spin-off {
        background-color: var(--button-spin-off);
        border: .5vw solid var(--border-spin-off);
    }

    .type-explanation .spin-off:hover {
        background-color: var(--button-hover-spin-off);

        .type {
            background-color: var(--type-hover-spin-off);
        }
    }

    .type-explanation .remake {
        background-color: var(--button-remake);
        border: .5vw solid var(--border-remake);
    }

    .type-explanation .remake:hover {
        background-color: var(--button-hover-remake);

        .type {
            background-color: var(--type-hover-remake);
        }
    }

    .type-explanation .non-canon {
        background-color: var(--button-non-canon);
        border: .5vw solid var(--border-non-canon);
    }

    .type-explanation .non-canon:hover {
        background-color: var(--button-hover-non-canon);

        .type {
            background-color: var(--type-hover-non-canon);
        }
    }

    hr {
        border: 0.1vw solid var(--border-gray);
    }

    .main {
        .collapsible {
            background-color: var(--button-main);
            border: .5vw solid var(--border-main);
        }

        .collapsible:hover {
            background-color: var(--button-hover-main);

            .type {
                background-color: var(--type-hover-main);
            }
        }

        .type {
            background-color: var(--type-main);
        }

        .container-info {
            background-color: var(--text-main);
            border: .5vw solid var(--border-main);
        }

        .info {
            background-color: var(--text-main);
        }

        .incident {
            background-color: var(--incident-main);
            border-bottom: .5vw solid var(--border-main);
        }

        .image {
            background-color: var(--border-main);
        }

        img {
            border-left: .5vw solid var(--border-main);
            border-bottom: .5vw solid var(--border-main);
        }
    }

    .spin-off {
        .collapsible {
            background-color: var(--button-spin-off);
            border: .5vw solid var(--border-spin-off);
        }

        .collapsible:hover {
            background-color: var(--button-hover-spin-off);

            .type {
                background-color: var(--type-hover-spin-off);
            }
        }

        .type {
            background-color: var(--type-spin-off);
        }

        .container-info {
            background-color: var(--text-spin-off);
            border: .5vw solid var(--border-spin-off);
        }

        .info {
            background-color: var(--text-spin-off);
        }

        .incident {
            background-color: var(--incident-spin-off);
            border-bottom: .5vw solid var(--border-spin-off);
        }

        .image {
            background-color: var(--border-spin-off);
        }

        img {
            border-left: .5vw solid var(--border-spin-off);
            border-bottom: .5vw solid var(--border-spin-off);
        }
    }

    .remake {
        .collapsible {
            background-color: var(--button-remake);
            border: .5vw solid var(--border-remake);
        }

        .collapsible:hover {
            background-color: var(--button-hover-remake);

            .type {
                background-color: var(--type-hover-remake);
            }
        }

        .type {
            background-color: var(--type-remake);
        }

        .container-info {
            background-color: var(--text-remake);
            border: .5vw solid var(--border-remake);
        }

        .info {
            background-color: var(--text-remake);
        }

        .incident {
            background-color: var(--incident-remake);
            border-bottom: .5vw solid var(--border-remake);
        }

        .image {
            background-color: var(--border-remake);
        }

        img {
            border-left: .5vw solid var(--border-remake);
            border-bottom: .5vw solid var(--border-remake);
        }
    }

    .non-canon {
        .collapsible {
            background-color: var(--button-non-canon);
            border: .5vw solid var(--border-non-canon);
        }

        .collapsible:hover {
            background-color: var(--button-hover-non-canon);

            .type {
                background-color: var(--type-hover-non-canon);
            }
        }

        .type {
            background-color: var(--type-non-canon);
        }

        .container-info {
            background-color: var(--text-non-canon);
            border: .5vw solid var(--border-non-canon);
        }

        .info {
            background-color: var(--text-non-canon);
        }

        .incident {
            background-color: var(--incident-non-canon);
            border-bottom: .5vw solid var(--border-non-canon);
        }

        .image {
            background-color: var(--border-non-canon);
        }

        img {
            border-left: .5vw solid var(--border-non-canon);
            border-bottom: .5vw solid var(--border-non-canon);
        }
    }
}

/* RESPONSIVE MIN */
@media screen and (min-width: 1200px) {
    .explanation {
        line-height: 60px;
        margin: 7.2px 0;
        padding: 18px 24px 20.4px 24px;
        border: 6px solid;
        border-radius: 12px;
    }

    .explanation .type {
        margin-left: -6px;
        margin-right: 6px;
        vertical-align: calc(0% + 1.2px);
    }

    .explanation .text {
        font-size: 30px;
    }

    hr {
        border: 1.2px solid;
    }

    .container-game {
        margin: 3.6px 0;
    }

    .collapsible {
        border-radius: 12px 12px 0 0;
        padding: 6px 0;
    }

    .type {
        font-size: 24px;
        border: 3.6px solid;
        border-radius: 18px;
        margin: 3px 8.4px 1px 8.4px;
        padding: 6px 8.4px 3.6px 8.4px;
    }

    .title {
        font-size: 39.6px;
        margin-bottom: 3.6px;
    }

    .container-info {
        border-radius: 0 0 12px 12px;
    }

    .incident {
        font-size: 36px;
        padding: 12px;
    }

    .text {
        font-size: 30px;
        padding: 12px;
    }

    img {
        width: 276px;
    }

    .content {
        .explanation {
            border: 6px solid var(--border-gray);
        }

        .type-explanation .main {
            background-color: var(--button-main);
            border: 6px solid var(--border-main);
        }

        .type-explanation .main:hover {
            background-color: var(--button-hover-main);

            .type {
                background-color: var(--type-hover-main);
            }
        }

        .type-explanation .spin-off {
            background-color: var(--button-spin-off);
            border: 6px solid var(--border-spin-off);
        }

        .type-explanation .spin-off:hover {
            background-color: var(--button-hover-spin-off);

            .type {
                background-color: var(--type-hover-spin-off);
            }
        }

        .type-explanation .remake {
            background-color: var(--button-remake);
            border: 6px solid var(--border-remake);
        }

        .type-explanation .remake:hover {
            background-color: var(--button-hover-remake);

            .type {
                background-color: var(--type-hover-remake);
            }
        }

        .type-explanation .non-canon {
            background-color: var(--button-non-canon);
            border: 6px solid var(--border-non-canon);
        }

        .type-explanation .non-canon:hover {
            background-color: var(--button-hover-non-canon);

            .type {
                background-color: var(--type-hover-non-canon);
            }
        }

        hr {
            border: 1.2px solid var(--border-gray);
        }

        .main {
            .collapsible {
                border: 6px solid var(--border-main);
            }

            .container-info {
                border: 6px solid var(--border-main);
            }

            .incident {
                border-bottom: 6px solid var(--border-main);
            }

            img {
                border-left: 6px solid var(--border-main);
                border-bottom: 6px solid var(--border-main);
            }
        }

        .spin-off {
            .collapsible {
                border: 6px solid var(--border-spin-off);
            }

            .container-info {
                border: 6px solid var(--border-spin-off);
            }

            .incident {
                border-bottom: 6px solid var(--border-spin-off);
            }

            img {
                border-left: 6px solid var(--border-spin-off);
                border-bottom: 6px solid var(--border-spin-off);
            }
        }

        .remake {
            .collapsible {
                border: 6px solid var(--border-remake);
            }

            .container-info {
                border: 6px solid var(--border-remake);
            }

            .incident {
                border-bottom: 6px solid var(--border-remake);
            }

            img {
                border-left: 6px solid var(--border-remake);
                border-bottom: 6px solid var(--border-remake);
            }
        }

        .non-canon {
            .collapsible {
                border: 6px solid var(--border-non-canon);
            }

            .container-info {
                border: 6px solid var(--border-non-canon);
            }

            .incident {
                border-bottom: 6px solid var(--border-non-canon);
            }

            img {
                border-left: 6px solid var(--border-non-canon);
                border-bottom: 6px solid var(--border-non-canon);
            }
        }
    }

    footer {
        font-size: 18px;
    }
}

/* RESPONSIVE MAX */
@media screen and (max-width: 800px) {
    .type-explanation {
        width: 99%;
    }

    .container-game {
        width: 99%;
    }

    footer {
        font-size: 12px;
    }
}
