:root {
    --button-main: #38598B;
    --button-main-hover: #113F67;
    --type-main: #0B8457;
    --type-main-hover: #05422B;
    --border-main: #00204a;
    --incident-main: #35495e;
    --border-incident-main: #00204a;
    --text-main: #38598B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #222222EC;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-game {
    width: 90%;
    max-width: 1200px;
    margin: 0.3vw 0;
}

.collapsible {
    background-color: var(--button-main);
    text-align: left;
    border: .5vw solid var(--border-main);
    border-radius: 1vw 1vw 0 0;
    outline: none;
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: .5vw 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.collapsible:hover::before {
    opacity: 1;
}

.collapsible::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    content: "";
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s;
}

.collapsible:hover {
    background-color: var(--button-main-hover);

    .type {
        background-color: var(--type-main-hover);
    }
}

.type {
    background-color: var(--type-main);
    color: white;
    font-size: 2vw;
    line-height: 2;
    border: .3vw solid white;
    border-radius: 1.5vw;
    margin: .3vw .7vw;
    padding: .3vw .7vw;
    vertical-align: middle;
    display: inline-block;
    transition: background-color .5s ease-in-out;
}

.title {
    color: white;
    font-size: 3.3vw;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container-info {
    background-color: var(--text-main);
    border: .5vw solid var(--border-main);
    border-top: 0;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.info {
    background-color: var(--text-main);
    display: inline-block;
    width: 100%;
}

.incident {
    background-color: var(--incident-main);
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1vw;
    border-bottom: .5vw solid var(--border-incident-main);
    display: block;
}

.text {
    font-size: 2.5vw;
    margin: 0;
    padding: 1vw;
}

.image {
    background-color: var(--border-main);
    display: inline-block;
}

img {
    width: 23vw;
    height: 100%;
    border-left: .5vw solid var(--border-incident-main);
}

.container-image {
    display: inline-block;
}

@media screen and (min-width: 1200px) {
    .container-game {
        margin: 3.6px 0;
    }

    .collapsible {
        border: 6px solid var(--border-main);
        border-radius: 12px 12px 0 0;
        padding: 6px 0;
    }

    .collapsible:after {
        font-size: 24px;
        right: 12px;
    }

    .type {
        font-size: 24px;
        border: 3.6px solid white;
        border-radius: 18px;
        margin: 3.6px 8.4px;
        padding: 3.6px 8.4px;
    }

    .title {
        font-size: 39.6px;
    }

    .container-info {
        border: 6px solid var(--border-main);
        border-radius: 0 0 12px 12px;
    }

    .incident {
        font-size: 36px;
        padding: 12px;
        border-bottom: 6px solid var(--border-incident-main);
    }

    .text {
        font-size: 30px;
        padding: 12px;
    }

    img {
        width: 276px;
        border-left: 6px solid var(--border-incident-main);
    }
}

@media screen and (max-width: 800px) {}
